{% extends "layout.html" %}

{% block content %}
<div class="bg-white p-4 rounded shadow-sm border text-center my-4">
    <h2 class="text-primary text-start mb-3">8. Limitaciones y Consideraciones</h2>
    <hr>
 
    <div class="mb-4">
        <h5 class="fw-bold">1. Sesgo de Sobrevivencia por Informalidad</h5>
        <li>Las bases oficiales de Cámaras de Comercio y Supersociedades omiten las empresas informales, generando un sesgo hacia unidades productivas de mayor tamaño e infraestructura inicial.</li>
    </div>

    <div class="mb-4">
        <h5 class="fw-bold">2. Diferencias en la Granularidad Geográfica</h5>
        <li>Mientras los datos locales/nacionales permiten un análisis a nivel de municipio (DIVIPOLA), la información global del Banco Mundial está agregada por país, requiriendo estandarización en fases posteriores.</li>
    </div>

    <div class="mb-0">
        <h5 class="fw-bold">3. Protección de Datos (Habeas Data)</h5>
        <li>En cumplimiento de la Ley 1581 de 2012, el número de identificación tributaria (NIT) y nombres de propietarios fueron anonimizados previo al procesamiento en la aplicación web.</li>
    </div>
</div>
{% endblock %}